<section id="athlete-list">
	<div ng-repeat="item in items" ng-click="open(item)" class="athlete list-item" ng-class="{active:item.id == activeClass}">
		<div class="pict-wrapper">
			<figure><img src="res/{{item.firstname}}-{{item.lastname}}.png" alt="Athlete pict"></figure>
		</div>
		<div class="details-wrapper">
			<h3>{{item.firstname}} {{item.lastname}}</h3>

			<div class="details">
				<address><edit value="item.address"></edit></address>
				<time><edit value="item.birthdate"></edit></time>
				<p class="phone"><edit value="item.phone"></edit></p>
				<div class="desc"><edit class="multiline" value="item.description"></edit></div>
			</div>
		</div>
	</div>
</section>